h1{
    text-align: center;
    color: crimson;
}
table{
    border-collapse: collapse;
    border: 2px solid;
    text-align: center;
}
td{
    border: 2px solid orangered;
}
.table-h1{
    background-color: crimson;
    color: aliceblue;
    font-weight: bolder;
}
.text{
    text-align: left;
}